/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'users';

// Typography Styles

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
}

// Background Gradient
.home-callout {
  /* Gradient provided by @_ighosh at uiGradients.com */
  background: #00c6ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

// Nav Styles
.navbar {
  border: none;
  margin-bottom: 10px;
}

.navbar-brand {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  color: white;
  &:hover {
    color: white;
    opacity: 0.75;
  }
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-inverse .navbar-toggle {
  border: 2px solid white;
  &:hover, &:focus {
    background-color: gray;
  }
}

.dropdown-menu {
  border: none;
  background-color: #222;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #222;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  color: white;
  &:hover, &:focus {
    color: #fff;
    background-color: #222;
  }
}

.navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #e5e5e540;
}

#log-buttons {
  margin-left: 0px;
}

#nav-cancel {
  padding-left: 10px;
}

// Home Page Styles
.home-callout {
  margin-top: -10px;
  padding-top: 50px;
  padding-bottom: 100px;
  color: white;
}

.home-signup-links {
  margin-top: 30px;
}

// Devise Flash
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: center;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: center;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: center;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: center;
}